@charset "utf-8";
/* COLORS
#365fac SKF BLUE
rgba(15,88,214,1)

#eaf0f0 SKF CLOUD
rgba(234,240,240,1)

#aeafaa SKF CLOUD LIGHT
rgba(240,246,246,1)

#485a6d SKF CLAY
rgba(72,90,109,1)

#d2dadc SKF CLAY STROKE
rgba(210,218,220,1)

#ea232b SKF RED
rgba(234,35,43,1)
*/
* {
    margin: 0px;
    padding: 0px;
    -webkit-appearance: none;
}

*:focus {
    outline-color: rgba(15,88,214,1);
    outline: 0;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), local('OpenSans'), url('type/OpenSans.woff') format('woff'), url('type/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('type/OpenSans-Bold.woff') format('woff'), url('type/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('type/OpenSans-Italic.woff') format('woff'), url('type/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('type/OpenSans-BoldItalic.woff') format('woff'), url('type/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Font Awesome";
    font-style: normal;
    font-weight: normal;
    src: url("type/fa-solid-900.woff2") format("woff2"), url("type/fa-solid-900.woff") format("woff"), url("type/fa-solid-900.ttf") format("truetype");
}

html {
    font-size: calc( 16px + (24 - 16) * (100vw - 440px) / (1900 - 440) );
    min-height: 100vh;
}

body, html header a {
    background-color: rgba(234,240,240,1);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgba(72,90,109,0.8);
}

html .slick-dots li button:before {
    content: "\f111";
    font-size: 14px;
    font-family: "Font Awesome";
}

.login-body {
    background-color: #fff;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

input, textarea, button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgba(72,90,109,0.8);
}

a {
    text-decoration: none;
    color: rgba(15,88,214,0.8);
    transition: color 0.3s;
}

a:hover {
    color: rgba(15,88,214,1);
}

ul, ol {
    list-style-type: none;
}

input::placeholder, textarea::placeholder {
    color: rgba(72,90,109,0.6);
}

.clearfix::after {
    display: block;
    content: " ";
    clear: both;
}

.hidden-input {
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    visibility: hidden;
}

.header {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #0f58d6;
    text-align: right;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
    background: #0f58d6; /* Old browsers */
    background: -moz-linear-gradient(top,  #0f58d6b3 1%, #0f58d6b3 25%, #0f58d6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0f58d6b3 1%,#0f58d6b3 25%,#0f58d6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0f58d6b3 1%,#0f58d6b3 25%,#0f58d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e9fd3', endColorstr='#0f58d6',GradientType=0 ); /* IE6-9 */
}

.header-limit {
    width: 100%;
    max-width: 900px;
    min-width: 360px;
    height: 100%;
    margin: 0px auto;
    /*background-color: rgba(0,0,0,0.1);*/
    position: relative;
}

.header-icon {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,0.7);
    opacity: 0.8;
    transition: opacity 0.3s;
    font-size: 20px;
    float: right;
    /*background-color: rgba(0,0,0,0.1);*/
}

.header-icon:hover {
    opacity: 1;
}

.header-icon::before {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    font-family: "Font Awesome";
}

.notification-wrapper {
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    padding-bottom: 5px;
    max-width: 400px;
    position: absolute;
    top: 30px;
    right: 0px;
    pointer-events: none;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.6s, opacity 0.3s;
}

#notifications:checked + .notification-wrapper {
    max-height: 100vh;
    opacity: 1;
}

.header-notification {
    position: relative;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid rgba(210,218,220,1);
    border-radius: 2px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    user-select: none;
    pointer-events: auto;
}

.header-notification::before {
    content: " ";
    position: absolute;
    display: block;
    width: 20px;
    height: 9px;
    top: -8px;
    right: 84px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #ffffff;
}

.header-notification ul {
    display: block;
}

.header-notification ul li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid rgba(210,218,220,1);
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header-notification ul li.is-read {
   background-color: rgba(240,246,246,0.6); 
}

.header-notification ul li:hover {
    background-color: rgba(240,246,246,1);
}

.header-notification ul li:last-child {
    border-bottom: none;
}

.header-notification ul li::after {
    display: block;
    content: " ";
    clear: both;
}

.notification-title {
    display: block;
    padding: 5px 10px;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    border-bottom: 1px solid rgba(210,218,220,1);
}

.notification-picture {
    width: 3rem;
    height: 3rem;
    float: left;
    position: relative;
}

.notification-content {
    width: calc(100% - 3rem - 14px);
    box-sizing: border-box;
    margin-left: 10px;
    float: left;
    min-height: 20px;
    font-size: 13px;
    text-align: left;
    line-height: 18px;
}

.notification-preview {
    display: block;
}

.notification-info {
    display: block;
    opacity: 0.8;
}

.notification-info::before {
    font-family: "Font Awesome";
    content: "\f017";
    margin-right: 4px;
    font-size: 12px;
}

.notification-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgba(210,218,220,1);
    font-family: "Font Awesome";
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
    color: #ffffff;
}

.icon-calendar::before {
    content: "\f073";
}

.icon-calendar {
    background-color: #f47f1f;
}

.icon-heartbeat::before {
    content: "\f21e";
}

.icon-heartbeat {
    background-color: #ea232b;
}

.icon-weight::before {
    content: "\f496";
}

.icon-weight {
    background-color: #78298d;
}

.icon-bell {
   background-color: #768492;
}
.icon-bell:before {
    content: "\f0f3";
}

.logo {
    display: inline-block;
    float: left;
    width: 140px;
    height: 40px;
    margin-left: 5px;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.admin::before {
    content: "\f013";
}

.user::before {
    content: "\f007";
}

.notification::before {
    content: "\f0f3";
}

.notification::after {
    content: attr(data-value);
    display: none;
    font-size: 12px;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(234,35,43,1);
    color: #ffffff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    white-space: nowrap;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
}

.support::before {
    content: "\f059";
}

.signout::before {
    content: "\f2f5";
}

.notification.exist-notification::after {
    display: block;
}


.main {
    width: 100%;
    max-width: 900px;
    min-width: 360px;
    min-height: calc(100vh - 50px);
    margin: 0px auto;
    padding-top: 50px;
}

.main-login {
    width: calc(100% - 20px);
    max-width: 500px;
    min-width: 360px;
    min-height: calc(100vh - 4rem - 80px);
    margin: 0px auto;
    margin-bottom: 20px;
    background-color:#fff;
}

.login-logo {
    display: block;
    width: 240px;
    height: 240px;
    margin: 0px auto;
    text-align: center;
    background-image: url(images/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.register-avatar {
    width: 180px;
    height: 180px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 90px;
}

.register-avatar-edit {
    width: 100%;
    height: 40px;
    display: block;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    user-select: none;
}

.register-avatar:hover .register-avatar-edit {
    opacity: 1;
    height: 40px;
    padding-top: 10px;
}

.register-picture {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0px auto;
    text-align: center;
    background-image: url(images/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.login-wrapper {
    width: 100%;
    min-height: 200px;
    background-color: rgba(255,255,255,1);
    box-sizing: border-box;
    border-radius: 4px;
    /*border: 1px solid rgba(210,218,220,1);*/
}

.login-wrapper .form {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.aside {
    display: block;
    width: 25%;
    height: 100%;
    min-height: 100px;
    float: left;
    /*background-color: rgba(0,0,0,0.1);*/
}

.timeline {
    display: block;
    width: 75%;
    height: 100%;
    min-height: 100px;
    float: left;
    /*background-color: rgba(0,0,0,0.2);*/
}

.container {
    margin: 0px 5px;
    margin-bottom: 10px;
    min-height: 100px;
    border-radius: 4px;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(210,218,220,1);
}

.edit-post {
}

.edit-post-header,
.admin-header,
.modal-header {
    width: 100%;
    height: 30px;
    background-color: rgba(234,240,240,0.4);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(210,218,220,1);
}

.edit-post-header ul,
.admin-header ul,
.modal-header ul {
    display: block;
}

.edit-post-header ul li,
.admin-header ul li,
.modal-header ul li {
    display: inline-block;
    float: left;
}

.edit-post-header ul li span,
.admin-header ul li span,
.modal-header ul li span {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
}

.edit-post-content,
.admin-content {
    min-height: 40px;
    padding: 10px;
}

.edit-post-content textarea,
.edit-post-div-textarea {
    width: calc(100% - 50px);
    min-height: 40px;
    float: right;
    border: none;
    background: transparent;
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgba(72,90,109,0.8);
    transition: min-height 0.3s, line-height 0.3s;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.edit-post-div-textarea {
    display: none;
}

.edit-post-content textarea {
    height: 40px;
    resize: none;
    overflow: hidden;
}

.edit-post-content textarea:focus {
    min-height: 80px;
    /*line-height: 1.2rem;*/
}

.edit-post-content textarea::placeholder {
    transition: line-height 0.3s;
    line-height: 40px;
}

.edit-post-content textarea:focus::placeholder {
    line-height: 1.2rem;
}

.edit-post-author {
    width: 40px;
    height: 40px;
    background-color: rgba(234,240,240,0.4);
    border-radius: 20px;
    position: relative;
    float: left;
    overflow: hidden;
}

.edit-post-author::after {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*border: 1px solid rgba(210,218,220,1);*/
    border-radius: 20px;
    position: absolute;
    pointer-events: none;
}

.edit-post-options {
    padding: 0px 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid rgba(210,218,220,1);*/
}

.edit-post-options ul {
    display: block;
    border-top: 1px solid rgba(210,218,220,0.6);
    padding-top: 10px;
}

.edit-post-options ul li {
    display: inline-block;
    float: left;
}

.edit-post-options ul li a,
.edit-post-options ul li span,
.edit-post-options ul li label {
    display: block;
    background-color: rgba(210,218,220,0.4);
    line-height: 30px;
    margin-right: 10px;
    padding: 0px 10px 0px 30px;
    border-radius: 15px;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    color: rgba(72,90,109,0.8);
}

.edit-post-options ul li a:hover,
.edit-post-options ul li span:hover {
    display: block;
    background-color: rgba(210,218,220,0.6);
}

.edit-post-footer {
    height: 30px;
    background-color: rgba(234,240,240,0.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    border-top: 1px solid rgba(210,218,220,0);
    padding: 0px 10px;
    max-height: 0px;
    opacity: 0;
    transition: padding 0.3s, border-top 0.3s, max-height 0.3s, opacity 0.3s;
}

.edit-post:focus-within .edit-post-footer,
.edit-post-footer.fixed {
    border-top: 1px solid rgba(210,218,220,1);
    padding: 10px;
    max-height: 30px;
    opacity: 1;
}

.modal-footer {
    height: 48px;
    background-color: rgba(234,240,240,0.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid rgba(210,218,220,1);
    padding: 10px;
    max-height: 48px;
}

.button-blue {
    background-color: rgba(15,88,214,1);
    border-radius: 2px;
    color: #ffffff;
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: pointer;
    display: block;
    border: none;
    height: 30px;
    line-height:30px;
    box-sizing: border-box;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 13px;
}

.button-blue:hover {
    opacity: 1;
    background-color: rgba(15,88,214,0.8);
    color: #ffffff;
}

.button-send.link {
    text-align: center;
    line-height: 28px;
}

.button-send.link:hover {
    color: #fff;
}

.button-send {
    width: 100%;
    text-align: center;
    line-height: 30px;
}

.button-send:hover {
    width: 100%;
    color: #fff;
}

.icon {
    position: relative;
}

.edit-post .icon,
.admin-container .icon,
.modal-frame .icon {
    padding-left: 30px;
}

.edit-post .icon::after,
.admin-container .icon::after,
.modal-frame .icon::after {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.icon::after {
    display: block;
    text-align: center;
    font-family: "Font Awesome";
    position: absolute;
    top: 0px;
    left: 0px;
}

.icon-picture::after {
    content: "\f030";
}

.icon-tag::after {
    content: "\f02b";
}

.icon-edit::after {
    content: "\f303";
}

.icon-group::after {
    content: "\f0c0";
}

.icon-report::after {
    content: "\f024";
}

.icon-chart::after {
    content: "\f201";
}

.icon-trophy::after {
    content: "\f091";
}

.icon-user::after {
    content: "\f007";
}

.icon-file::after {
    content: "\f15b";
}

.icon-checkall::after {
    content: "\f14a";
}

.icon-plus::after {
    content: "\f067";
}

.icon-block::after {
    content: "\f056";
}

.icon-trash::after {
    content: "\f1f8";
}

.icon-hashtag::after {
    content: "\f292";
}

.side-block,
.side-subtitle {
    width: 100%;
    cursor: pointer;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(210,218,220,0);
    border-radius: 2px;
    background-color: rgba(255,255,255,0);
    transition: background-color 0.3s, border 0.3s;
    color: rgba(72,90,109,0.8);
}

.timeline .side-block {
    padding: 10px;
    border-radius: 4px;
}

.side-block:hover {
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(210,218,220,0.6);
    color: rgba(72,90,109,0.8);
}

.side-subtitle {
    display: block;
    padding: 0px 10px;
    font-size: 0.6rem;
    margin-bottom: 10px;
}

.timeline .side-subtitle {
    font-size: 0.8rem;
    padding: 0px 0.8rem;
}

.group-block-name,
.admin-block-name {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 1.4rem;
    font-size: 0.7rem;
    line-height: 1rem;
}

.group-block-name::after,
.admin-block-name::after {
    width: 1.4rem;
    height: 100%;
    line-height: 1rem;
}

.timeline .group-block-name,
.timeline .admin-block-name {
    padding-left: 2rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.timeline .group-block-name::after,
.timeline .admin-block-name::after {
    width: 1.8rem;
    height: 100%;
    line-height: 1.4rem;
}



.user-block,
.group-block,
.admin-block {
    margin: 0px 5px;
    margin-bottom: 10px;
}

.user-block-picture {
    width: 15%;
    padding-bottom: 15%;
    border-radius: 50%;
    background-color: #ffffff;
    float: left;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.user-block-picture::after {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*border: 1px solid rgba(210,218,220,0.5);*/
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

.user-block-info {
    width: calc(85% - 10px);
    margin-top: 1.5%;
    /*background-color: rgba(255,0,0,0.2);*/
    float: left;
    position: relative;
}

.timeline .user-block-info {
    margin-top: 2.6%;
}

.user-block-name {
    display: block;
    font-size: 0.8rem;
}

.timeline .user-block-name {
    font-size: 1.2rem;
}

.user-block-score {
    display: block;
    font-size: 0.6rem;
}

.timeline .user-block-score {
    font-size: 0.8rem;
}

.avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgba(210,218,220,1);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user .avatar {
    top: 5px;
    left: 5px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
}

.post {
}

.user-list {
    display: block;
}

.user-list li {
    display: block;
    margin-bottom: 10px;
}

.user-list .user-list-block {
    border-radius: 2px;
    background-color: rgba(234,240,240,0);
    box-sizing: border-box;
    border: 1px solid rgba(210,218,220,0);
    user-select: none;
    transition: background-color 0.3s, border 0.3s;
}

.user-list .user-list-block:hover {
    background-color: rgba(234,240,240,0.5);
    border: 1px solid rgba(210,218,220,1);
}

.user-list .user-check:checked + .user-list-block {
    background-color: rgba(234,240,240,1);
    border: 1px solid rgba(210,218,220,1);
}

.author-select {
    display: block;
    width: 30px;
    height: 20px;
    float: right;
    line-height: 20px;
    text-align: right;
    color: rgba(72,90,109,0.6);
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
}

.author-select::before {
    font-family: "Font Awesome";
    content: "\f0c8";
    opacity: 0.5;
    transition: opacity 0.3s;
}

.user-list .user-check:checked + .user-list-block .author-select::before {
    content: "\f14a";
    opacity: 1;
}




.author,
.user-list-block {
    padding: 10px;
}

.author-picture {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(234,240,240,0.4);
    border-radius: 20px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.author-picture::after {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    pointer-events: none;
}

.author-info {
    width: calc(100% - 80px);
    height: 40px;
    float: left;
    position: relative;
}

ul.user-list .author-name {
    font-size: 13px;
}

.author-name {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 20px;
}

.author-name.blocked {
    color: rgba(214, 15, 15, 0.8);
}

.author-date {
    font-size: 12px;
    display: block;
    float: left;
    clear: both;
    line-height: 20px;
}

.author-points {
    font-size: 12px;
    display: block;
    float: left;
    clear: both;
    line-height: 20px;
    font-weight: bold;
}

.author-options {
    display: block;
    width: 30px;
    height: 20px;
    float: right;
    line-height: 20px;
    text-align: right;
    color: rgba(72,90,109,0.6);
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
}
@media all and (max-width: 620px) {
    .author-options {
        padding-right: 10px;
        width: 40px;
        height: 30px;
        margin-top: -35px;
    }
    .author-info {
        width: calc(100% - 90px);
    }
}

.author-options::before {
    font-family: "Font Awesome";
    content: "\f141";
}

.author-options-report {
    background-color: rgba(72,90,109,1);
    color: #ffffff;
    display: block;
    min-height: 20px;
    position: absolute;
    white-space: nowrap;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    top: -5px;
    right: 30px;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.author-options-report label {
    display: block;
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: pointer;
}

.author-options-report label:hover {
    opacity: 1;
}

.message-delete {
    display: block;
    text-align: center;
    padding-top: 30px;
}

.author-options:hover {
    color: rgba(72,90,109,1);
}

.author-options:hover .author-options-report {
    opacity: 1;
}

.author-options .author-options-report:hover {
    opacity: 1;
}

.author-options-report::after {
    content: " ";
    display: block;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-color: rgba(72,90,109,1);
    width: 6px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: -6px;
}

.content {
}

.text {
    padding: 10px;
    font-size: 15px;
    line-height: 21px;
    border-bottom: 1px solid rgba(210,218,220,1);
}

.media {
    display: block;
    cursor: zoom-in;
    /*border-top: 1px solid rgba(210,218,220,1);*/
    border-bottom: 1px solid rgba(210,218,220,1);
    position: relative;
    padding-bottom: 56.25%;
}

.figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interaction {
    /*border-top: 1px solid rgba(210,218,220,1);*/
    border-bottom: 1px solid rgba(210,218,220,1);
}

.interaction-status {
    font-size: 13px;
    margin: 0px 10px;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(210,218,220,0.6);
}

.interaction-status-likes {
    display: block;
    float: left;
}

.interaction-status-comments {
    display: block;
    float: right;
}

.interaction-status-likes::before,
.interaction-status-comments::before {
    content: attr(data-value);
}

.interaction-buttons {
    font-size: 14px;
    padding: 0px 10px;
}

.interaction-button {
    display: block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: rgba(72,90,109,0.6);
    background-color: transparent;
    border: none;
    transition: color 0.3s;
}

.interaction-button:hover {
    color: rgba(15,88,214,1);
}

.interaction-buttons-likes::before {
    font-family: "Font Awesome";
    content: "\f164";
    font-weight: normal;
}

.interaction-buttons-likes.active {
    color: rgba(15,88,214,1);
}

.interaction-buttons-comments::before {
    font-family: "Font Awesome";
    content: "\f27a";
    font-weight: normal;
}

.comments {
}

.comments-container {
}

.comments-info {
}

.comments-container ul {
    display: block;
    padding: 5px 0px;
}

.comments-container ul li {
    display: block;
}

.comments-container .author {
    padding: 5px 10px;
}

.comments-container .author-picture,
.comments-edit .author-picture {
    width: 34px;
    height: 34px;
}

.comments-container .author-info {
    width: calc(100% - 64px);
    height: auto;
    padding: 5px 10px;
    background-color: rgba(234,240,240,1);
    border-radius: 17px;
}

.comments-container .author-name {
    margin-right: 10px;
    font-size: 13px;
}

.comments-container .author-date {
    margin-right: 10px;
    clear: none;
    opacity: 0.8;
}

.comments-content {
    font-size: 13px;
    line-height: 20px;
}

.comments-image {
    display: block;
    width: 100%;
    max-width: 400px;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 9px;
    margin-bottom: 5px;
}

label.comments-image {
    cursor: zoom-in;
}

.comments-image figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.comments-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comments-edit {
}

.comments-container .comments-info {
    font-size: 12px;
    line-height: 20px;
    margin-left: 50px;
}

.comments-container .comments-like,
.comments-container .comments-edit,
.comments-container .comments-remove,
.comments-container span {
    float: left;
    margin-right: 10px;
    line-height: 20px;
    background-color: transparent;
    border: 1px;
    cursor: pointer;
}

.comments-container .comments-like.active,
.comments-container .comments-edit.active,
.comments-container .comments-remove.active {
    font-weight: bold;
}

.comments-edit-textarea {
    width: calc(100% - 59px);
    min-height: 24px;
    position: relative;
    padding: 5px;
    padding-left: 10px;
    background-color: rgba(234,240,240,1);
    border-radius: 17px;
    float: left;
}

.comments-edit-textarea::after {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(210,218,220,1);
    border-radius: 17px;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.comments-edit-textarea textarea,
.comments-div-textarea {
    min-height: 24px;
    padding: 2px;
    width: calc(100% - 25px);
    border: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
    float: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: transparent;
    box-sizing: border-box;
}

.comments-edit-textarea textarea {
    height: 24px;
    resize: none;
    overflow: hidden;
}

.comments-div-textarea {
    display: none;
}

.comments-edit-options {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.comments-edit-send {
    width: 24px;
    height: 24px;
    border: none;
    text-align: center;
    position: absolute;
    cursor: pointer;
    border-radius: 12px;
    background: transparent;
    color: rgba(72,90,109,0.6);
    transition: color 0.3s;
}

.comments-edit-send:hover {
    color: rgba(15,88,214,1);
}

.comments-edit-send::before {
    font-family: "Font Awesome";
    content: "\f1d8";
    font-weight: normal;
}

.comments-like-mark {
    position: absolute;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding: 2px;
    border-radius: 9px;
    font-size: 11px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
    bottom: -9px;
    right: 0px;
}

.comments-like-mark::before {
    width: 16px;
    height: 16px;
    font-size: 8px;
    line-height: 16px;
    text-align: center;
    font-family: "Font Awesome";
    content: "\f164";
    font-weight: normal;
    display: inline-block;
    float: left;
    border-radius: 7px;
    color: #ffffff;
    background-color: rgba(15,88,214,1);
}

.comments-like-mark::after {
    content: attr(data-value);
    padding: 0px 3px;
    display: inline-block;
    float: left;
}


.container > div:last-child {
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer {
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: none;
    z-index: 80;
}

.modal-limit {
    width: 100%;
    min-width: 360px;
    max-width: 900px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0px auto;
    /*background-color: rgba(0,0,0,0.1);*/
}

.modal-container {
    display: none;
    width: 75%;
    height: 100%;
    padding-top: 25px;
    box-sizing: border-box;
    float: right;
    /*background-color: rgba(0,0,0,0.2);*/
}

.modal-container.modal-register {
    float: none;
    margin: 0px auto;
}

.modal-zoom-media {
    display: none;
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    margin: 10px;
    box-sizing: border-box;
    /*background-color: rgba(255,0,0,0.3);*/
    position: relative;
    cursor: zoom-out;
}

.modal-zoom-media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-content {
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    max-height: 475px;
}

.modal-header ul li.modal-close {
    float: right;
    position: relative;
}

.modal-close-button {
    width: 30px;
    height: 30px;
    display: block;
}

.modal-close-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    font-family: "Font Awesome";
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
}

.modal-close-button:hover {
    color: rgba(234,35,43,1);
}

.modal-close-button::after {
    content: "\f00d";
}

.modal-frame {
    display: none;
}

.modal-viewer:checked ~ .modal {
    display: block;
}

#modal-picture:checked ~ .modal .modal-limit .modal-container,
#modal-tag:checked ~ .modal .modal-limit .modal-container,
#modal-report:checked ~ .modal .modal-limit .modal-container,
#modal-delete:checked ~ .modal .modal-limit .modal-container,
#modal-media:checked ~ .modal .modal-limit .modal-container
{
    display: block;
}

#modal-picture:checked ~ .modal .modal-limit .modal-container #modal-send-picture,
#modal-tag:checked ~ .modal .modal-limit .modal-container #modal-chose-tags,
#modal-report:checked ~ .modal .modal-limit .modal-container #modal-send-report, 
#modal-delete:checked ~ .modal .modal-limit .modal-container #modal-delete-post, 
#modal-media:checked ~ .modal .modal-limit .modal-zoom-media 
{
    display: block;
}

#modal-media:checked ~ .modal .modal-limit .modal-container {
    display: none;
}

.footer {
    border-top: 1px solid rgba(210,218,220,1);
    margin-top: 20px;
}

.footer-limit {
    min-height: 40px;
    width: calc(100% - 10px);
    max-width: 890px;
    min-width: 360px;
    overflow: hidden;
    margin: 0px auto;
    box-sizing: border-box;
    font-size: 12px;
    padding: 10px 0px;
}

.footer-limit ul {
    display: block;
}

.footer-limit ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-limit a {
    color: rgba(72,90,109,1);
}

.footer-limit a:hover {
    color: rgba(15,88,214,1);
}

.skf-footer {
    display: block;
    width: 100%;
    color: #ffffff;
    height: calc(1.6rem + 40px);
    position: relative;
    z-index: 30;
}

.skf-footer .skf-logo {
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(images/logo_skf_cf.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    position: relative;
}

.skf-footer .skf-logo::before {
    display: block;
    content: " ";
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(images/logo_skf_lf.svg);
    background-repeat: no-repeat;
    float: left;
    background-size: contain;
    background-position: bottom left;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skf-footer .skf-logo::after {
    display: block;
    content: " ";
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(images/logo_skf_rf.svg);
    background-repeat: no-repeat;
    float: right;
    background-size: contain;
    background-position: bottom right;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skf-header {
    display: block;
    width: 100%;
    color: #ffffff;
    height: calc(1.6rem + 40px);
    position: relative;
    z-index: 30;
    margin-bottom: 20px;
}

.skf-header .skf-logo {
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(images/logo_skf_ch.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: top;
    position: relative;
}

.skf-header .skf-logo::before {
    display: block;
    content: " ";
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(images/logo_skf_lh.svg);
    background-repeat: no-repeat;
    float: left;
    background-size: contain;
    background-position: top left;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skf-header .skf-logo::after {
    display: block;
    content: " ";
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(images/logo_skf_rh.svg);
    background-repeat: no-repeat;
    float: right;
    background-size: contain;
    background-position: top right;
    position: absolute;
    top: 0px;
    left: 0px;
}







.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 2rem;
    /*box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4) inset;*/
    margin-bottom: 1rem;
    transition: box-shadow 0.3s;
    border-radius: 1rem;
    border: 1px solid rgba(210,218,220,1);
    overflow: hidden;
    position: relative;
    background-color: rgba(234,240,240,1);
}

.input:focus-within {
    /*box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6) inset;*/
}

.input input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    border: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgba(72,90,109,1);
    padding: 0px 10px;
    background: transparent;
}

.select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 2rem;
    /*box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4) inset;*/
    margin-bottom: 1rem;
    transition: box-shadow 0.3s;
    border-radius: 1rem;
    border: 1px solid rgba(210,218,220,1);
    overflow: hidden;
    position: relative;
    background-color: rgba(234,240,240,1);
    cursor: pointer;
}

.select::before {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    transition: color 0.3s;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    font-family: "Font Awesome";
    content: "\f107";
    color: rgba(72,90,109,0.4);
    pointer-events: none;
}

.select:focus::before, .select:hover::before {
    color: rgba(72,90,109,1);
}

.select select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    border: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgba(72,90,109,0.7);
    padding: 0px 10px;
    background: transparent;
    cursor: pointer;
}

.register-terms {
    display: block;
    font-size: 0.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.register-title {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.register-subtitle {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.input-icon {
    padding-left: 2rem;
}

.input-icon::before {
    display: block;
    content: " ";
    position: absolute;
    text-align: center;
    width: 2rem;
    height: 2rem;
    background-color: rgba(72,90,109,0.1);
    color: rgba(72,90,109,0.4);
    top: 0px;
    left: 0px;
    border-radius: 1rem;
    line-height: 2rem;
    font-size: 1rem;
    font-family: "Font Awesome";
}

.input-user::before {
    content: "\f007";
}

.input-password::before {
    content: "\f084";
}

.input-email::before {
    content: "\f1fa";
}




.input-id::before {
    content: "\f2c2";
}


.input-birth::before {
    content: "\f1fd";
}

.input-home::before {
    content: "\f015";
}

.input-peso::before {
    content: "\f496";
}

.input-altura::before {
    content: "\f338";
}






.button input[type="submit"],
.button input[type="button"] {
    display: block;
    box-sizing: border-box;
    padding: 0px 1rem;
    height: 2rem;
    font-size: 0.8rem;
    border: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    margin: 0px auto;
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255,255,255,0.8);
    background-color: rgba(15,88,214,0.8);
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    border-radius: 1rem;
}

input[type="submit"]:hover, input[type="button"]:hover {
    color: rgba(255,255,255,1);
    background-color: rgba(15,88,214,1);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
}

.login-label {
    display: block;
    box-sizing: border-box;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(71,89,109);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.login-warning {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem 1rem;
    min-height: 2rem;
    font-size: 0.8rem;
    border: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0px auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(204,26,50,1);
    background-color: rgba(233,35,44,0.1);
    text-align: center;
    /*display: none;*/
}

.login-warning::before {
    font-family: "Font Awesome";
    content: "\f071";
    margin-right: 10px;
}

.login-info {
    font-size: 0.6rem;
    color: rgb(71,89,109);
    /*background-color: rgba(220,224,225,0.6);*/
    background-color: rgba(72,90,109,0.1);
    box-sizing: border-box;
    padding: 40px;
}

.login-info span {
    display: block;
    margin-bottom: 1rem;
}

.login-info span:last-child {
    margin-bottom: 0px;
}

/*desktop*/

.liked {
    color: #0f58d6cc;
    font-weight: bold;
}

.comments-edit-options .fa-circle-o-notch:before {
    font-size: 23px;
    position: relative;
}

.comments-edit-options .fa-circle-o-notch {
    position: relative;
    top: -3px;
}

.load.comments {
    position: relative;
}

.load.comments > div {
    width: 15px;
    height: 16px;
    margin: auto;
}

.load.comments {
    height: 25px;
    position: relative;
    padding-top: 10px;
}

.load.comments .fa-circle-o-notch:before {
    font-size: 17px;
    position: absolute;
}

.slider-imgs-posts {
    display: none;
}

.slider-imgs-posts.iniciado {
    display: block;
}

.button.button-submit.button-small input {
    font-size: 0.5rem;
    font-weight: 600;
}

#mytags small {
    margin: 1px;
    margin-bottom: 10px;
}

button[disabled="disabled"] {
    opacity: 0.6;
    cursor: not-allowed;
}
.area-file {
    text-align: center;
    width: 98%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 5px dotted #ccc;
}


input#file {
    min-height: 348px;
    width: 100%;
    float: left;
    display: block;
    position: absolute;
    z-index: 2;
    top: -61px;
    margin-bottom: -68px;
}

.lists-imgs > div {
    background-color: #f7f9f9;
    height: 101px;
    margin: 7px;
    width: 22.4%;
    background-size: contain !important;
    background-position: center !important;
    padding: 4px 0px;
    border: 1px solid #ccc;
    position: relative;
}

.area-file.hasImages {
    height: 100px;
}

.area-file.hasImages input#file {
    min-height: 166px;
}

.lists-imgs {
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.lists-imgs > div:hover:after{
    background: #e40000;
    color: #fff;
}

.lists-imgs > div:after {
    /*display: none;*/
    font-family: "Font Awesome";
    content: "\f00d";
    position: absolute;
    top: -6px;
    right: -7px;
    width: 23px;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: 24px;
    border-radius: 50%;
    color: #101010;
    background: #ccc;
    cursor: pointer;
}

div#loader {
    text-align: right;
    padding: 20px;
    position: fixed;
    top: 34px;
    right: 0px;
    color: #0f58d6;
    z-index: 99999;
    /* display: none; */
}

.fa-circle-o-notch:before {
    font-family: "Font Awesome";
    content: "\f1ce";
    font-size: 34px;
}

.fa-spin {
  -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

html .slick-prev:before {
    content: "\f053";
    font-family: "Font Awesome";
}
html .slick-next:before {
    content: "\f054";
    font-family: "Font Awesome";
}

html .slick-next {
    right: 0px;
}

html .slick-prev {
    left: 0px;
}

html .slick-next, html .slick-prev {
    z-index: 3;
}

@media all and (max-width: 620px) {
    .aside {
        width: 100%;
        height: auto;
    }

    .timeline {
        width: 100%;
        height: auto;
    }

    .side-block {
        padding: 10px;
        border-radius: 4px;
    }

    .side-subtitle {
        font-size: 0.8rem;
        padding: 0px 0.8rem;
    }

    .group-block-name,
    .admin-block-name {
        padding-left: 2rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .group-block-name::after,
    .admin-block-name::after {
        width: 1.8rem;
        height: 100%;
        line-height: 1.4rem;
    }

    .user-block-info {
        margin-top: 2.6%;
    }

    .user-block-name {
        font-size: 1.2rem;
    }

    .user-block-score {
        font-size: 0.8rem;
    }

    .register-avatar .register-avatar-edit {
        opacity: 1;
        height: 40px;
        padding-top: 10px;
    }
}

.loading {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    display: none;
    background-color: rgba(255,255,255,0.3);
}

.windows8 {
    position: relative;
    width: 46px;
    height: 46px;
    margin: auto;
    top: 40%;
}

.windows8 .wBall {
    position: absolute;
    width: 44px;
    height: 44px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(15,88,214);
    left: 0px;
    top: 0px;
    border-radius: 6px;
}

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

.tag {
    border: 1px solid rgba(210,218,220,1);
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0px 3px;
}

.tag.active {
    background-color: rgba(210,218,220,1);
}

.report #ContentPlaceHolder1_txtReport {
    width: 96%;
    padding: 10px;
    border: 0.55px solid #eee;
}

.success-report {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #dff0d8;
    color: #3c763d;
    font-size: 16px;
    z-index: 999999;
    padding: 20px;
    display: none;
}

.fail-report {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: #f2dede;
    color: #a94442;
    font-size: 13px;
    z-index: 999999;
    padding: 20px;
    display: none;
}

.fail-report div {
    float: right;
}

.fail-report i {
    float: left;
    font-size: 32px;
    padding-right: 10px;
}

#mytags {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
}

.comments-edit-options {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.comments-edit-send,
.comments-img-send {
    width: 24px;
    height: 24px;
    border: none;
    text-align: center;
    /*position: absolute;*/
    float: left;
    cursor: pointer;
    border-radius: 12px;
    background: transparent;
    color: rgba(72,90,109,0.6);
    transition: color 0.3s;
}

.comments-edit-send:hover,
.comments-img-send:hover {
    color: rgba(15,88,214,1);
}

.comments-edit-send::before {
    font-family: "Font Awesome";
    content: "\f1d8";
    font-weight: normal;
}

.comments-img-send::before {
    font-family: "Font Awesome";
    content: "\f030";
    font-weight: normal;
}

.header-padding {
    padding-top: 60px;
}

.btns-control {
    width: 100%;
}

.btns-control a {
    width: 50%;
    font-size: 14px;
    padding: 8px 12px;
    margin-left: 8px;
}

.btns-control .btn-block {
    background-color: #a94442;
    color: #f2dede;
}

.btns-control .btn-accept {
    background-color: #3c763d;
    color: #dff0d8;
}
    /*.author-options-excluir {
    background-color: rgb(195, 102, 66,);
    color: #ffffff;
    display: block;
    height: 20px;
    position: absolute;
    white-space: nowrap;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    top: -5px;
    right: 30px;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.author-options:hover .author-options-excluir {
    opacity: 1;
}

.author-options .author-options-excluir:hover {
    opacity: 1;
}

.author-options-excluir::after {
    content: " ";
    display: block;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-color: rgba(195, 102, 66, 0.6);
    width: 6px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: -6px;
    }*/
    @media only screen and (max-width: 600px) {

        .perfil-mobile {
            height: 179px;
            overflow: hidden;
            min-height: 80px;
        }

        .modal-container {
            width: 100%;
        }
    }

    .button-right {
        float: right;
        max-height: 30px;
        overflow: hidden;
        opacity: 1;
        margin-top: 10px;
        transition: opacity 0.3s, max-height 0.3s, margin-top 0.3s;
    }

    .edit-post:focus-within .button-right {
        max-height: 30px;
        opacity: 1;
        margin-top: 10px;
    }

    .med-6 {
        width: 32%;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-flex;
        min-height: 40px;
    }

    .med-12 {
        width: 48%;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-flex;
    }

    @media all and (max-width: 620px) {
        .med-6 {
            width: 100%;
            margin-left: 5px;
            margin-right: 5px;
            display: inline-flex;
        }

        .tags {
            /*height: 400px;*/
            overflow: auto;
        }
    }

    .control {
        font-family: arial;
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        padding-top: 3px;
        cursor: pointer;
        font-size: 16px;
    }

    .control input {
        /*position: absolute;*/
        z-index: 9999;
        opacity: 1;
        margin-left: 5px;
        border: 1px solid #cacaca;
        border-radius: 5px;
        padding: 0px 5px;
    }

    .control_indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        border: 0px solid #000000;
    }

    .control-radio .control_indicator {
        border-radius: undefined%;
    }

    .control:hover input ~ .control_indicator,
    .control input:focus ~ .control_indicator {
        background: #cccccc;
    }

    .control input:checked ~ .control_indicator {
        background: #2aa1c0;
    }

    .control:hover input:not([disabled]):checked ~ .control_indicator,
    .control input:checked:focus ~ .control_indicator {
        background: #0e6647d;
    }

    .control input:disabled ~ .control_indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }

    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }

    .control input:checked ~ .control_indicator:after {
        display: block;
    }

    .control-checkbox .control_indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .control-checkbox input:disabled ~ .control_indicator:after {
        border-color: #7b7b7b;
    }

    .visible-xs {
        display: none;
    }
    /*Alterações 27/02*/
    @media all and (max-width: 620px) {
        .visible-xs {
            display: block;
        }

        .skf-header, .skf-footer {
            display: none;
        }

        .login-body {
            background-color: #fff;
            background-image: none;
        }

        .footer-limit ul {
            display: none;
        }

        .rank-default {
            display: none;
        }

        .md-imagess {
            max-height: 450px;
            overflow: auto;
        }

        .login-logo {
            width: 150px;
            height: 150px;
        }

        .login-info {
            position: absolute;
            bottom: 0px;
        }

        .main-login {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }

        .main, .footer-limit, .modal-limit {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }

        .lists-imgs {
            justify-content: center;
        }
    }

    .info-modal .btn, .admin-content .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .info-modal .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .info-modal .btn-danger:hover {
        color: #fff;
        background-color: #f5726e;
        border-color: #f5726e;
    }

    .info-modal .btn-primary, .admin-content .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .info-modal .btn-primary:hover, .admin-content .btn-primary:hover {
        color: #fff;
        background-color: #57a0de;
        border-color: #57a0de;
    }

    .info-modal .btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .info-modal .btn-success:hover {
        color: #fff;
        background-color: #75d075;
        border-color: #75d075;
    }

    .info-modal .btn-group-xs > .info-modal .btn, .info-modal .btn-xs, .admin-content .btn-group-xs > .info-modal .btn, .admin-content .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .top-100 a {
        font-size: 14px;
        padding-left: 10px;
        color: #687887;
        font-weight: bold;
    }

    .img-thumb {
        width: 32%;
        margin-left: 4px;
        display: inline-block;
    }

    @media all and (max-width: 320px) {
        .tags {
            height: 290px;
            overflow: auto;
        }
    }